---
layout: main
title: Gallery
page_name: gallery
permalink: /gallery/
order: 4
fa_icon: fas fa-grip-horizontal
mainnav: 1
footnav: 1
<!-- sidebar: 1 -->
gallery:
  - file: /images/shop_01.jpg
    aspectratio: landscape
  - file: /images/shop_02.jpg
    aspectratio: landscape
  - file: /images/shop_03.jpg
    aspectratio: portrait
  - file: /images/shop_04.jpg
    aspectratio: landscape
  - file: /images/shop_05.jpg
    aspectratio: landscape
  - file: /images/shop_06.jpg
    aspectratio: portrait
  - file: /images/shop_07.jpg
    aspectratio: landscape
  - file: /images/shop_08.jpg
    aspectratio: landscape
  - file: /images/shop_09.jpg
    aspectratio: landscape
  - file: /images/shop_10.jpg
    aspectratio: landscape
  - file: /images/shop_11.jpg
    aspectratio: landscape
  - file: /images/shop_12.jpg
    aspectratio: landscape
  - file: /images/shop_13.jpg
    aspectratio: portrait
  - file: /images/shop_14.jpg
    aspectratio: landscape
  - file: /images/shop_15.jpg
    aspectratio: landscape
  - file: /images/shop_16.jpg
    aspectratio: landscape
  - file: /images/work_01.jpg
    aspectratio: portrait
  - file: /images/work_02.jpg
    aspectratio: landscape
  - file: /images/work_03.jpg
    aspectratio: portrait
  - file: /images/work_04.jpg
    aspectratio: portrait
  - file: /images/work_05.jpg
    aspectratio: landscape
  - file: /images/work_06.jpg
    aspectratio: landscape
  - file: /images/work_07.jpg
    aspectratio: landscape
  - file: /images/work_08.jpg
    aspectratio: landscape
  - file: /images/work_09.jpg
    aspectratio: landscape
  - file: /images/work_10.jpg
    aspectratio: landscape
  - file: /images/work_11.jpg
    aspectratio: landscape
  - file: /images/work_12.jpg
    aspectratio: landscape
  - file: /images/work_13.jpg
    aspectratio: landscape
  - file: /images/work_14.jpg
    aspectratio: landscape
  - file: /images/work_15.jpg
    aspectratio: landscape
  - file: /images/work_16.jpg
    aspectratio: portrait
  - file: /images/work_17.jpg
    aspectratio: landscape
  - file: /images/work_18.jpg
    aspectratio: portrait
  - file: /images/work_19.jpg
    aspectratio: landscape
  - file: /images/work_20.jpg
    aspectratio: landscape
  - file: /images/work_21.jpg
    aspectratio: landscape
  - file: /images/work_22.jpg
    aspectratio: portrait
  - file: /images/work_23.jpg
    aspectratio: portrait
  - file: /images/work_24.jpg
    aspectratio: landscape
  - file: /images/work_25.jpg
    aspectratio: landscape
  - file: /images/work_26.jpg
    aspectratio: portrait
  - file: /images/work_27.jpg
    aspectratio: portrait
  - file: /images/work_28.jpg
    aspectratio: landscape
---
<section class="gallery" id="gallery">
    <header>
        <h2>Our Gallery</h2>
    </header>

    <section class="gallery-section">
        <div class="image-list">
    
            {% for item in page.gallery %}
            <a class="image-link {{ item.aspectratio }}" href="#image_{{ forloop.index }}">
                <div class="image-item {{ item.aspectratio }}">
                    <img src="{{ site.baseurl }}{{ item.file }}" alt="Picture">
                </div>
            </a>
            {% endfor %}
            
        </div>
    </section>

    <section class="lightbox-section">
        {% for item in page.gallery %}
        <div class="lightbox {{ item.aspectratio }}" id="image_{{ forloop.index }}">
            <div class="box">
                <a class="btn-lb close" href="#gallery" id="closebtn{{ forloop.index }}"><i class="fas fa-times"></i></a>
                <div class="content">
                    {% if forloop.index == 1 %}
                    <a class="btn-lb prev" href="#image_{{ forloop.length }}" id="prevbtn{{ forloop.index }}"><i class="fas fa-chevron-left"></i></a>
                    {% else %}
                    <a class="btn-lb prev" href="#image_{{ forloop.index | minus: 1 }}" id="prevbtn{{ forloop.index }}"><i class="fas fa-chevron-left"></i></a>
                    {% endif %}

                    <img src="{{ site.baseurl }}{{ item.file }}">

                    {% if forloop.index == forloop.length %}
                    <a class="btn-lb next" href="#image_1"><i class="fas fa-chevron-right" id="nextbtn{{ forloop.index }}"></i></a>
                    {% else %}
                    <a class="btn-lb next" href="#image_{{ forloop.index | plus: 1 }}" id="nextbtn{{ forloop.index }}"><i class="fas fa-chevron-right"></i></a>
                    {% endif %}

                </div>
                <div class="clear"></div>
                <p class="nav-tip">You could navigate through images using <strong>LEFT</strong> and <strong>RIGHT</strong> arrows from the keyboard. To exit use <strong>ESC</strong> key.</p>
            </div>
        </div>
        {% endfor %}
    </section>
</section>