{% assign location = include.location%}
<aside class="site-sidebar">
    <header class="header">
        <h3>{{ location | capitalize }}</h3>
    </header>
    <nav class="nav">
        {% if location == "about" %}
            <ul>
                <li {% if page.url == '/about/' %} class="selected"{% endif %}>
                    <a class="btn" href="{{ site.baseurl }}/about/"><i class="fas fa-home"></i> Who are we</a>
                </li>
                {% assign sorted_about = site.about | sort: "order" %}
                {% for collection_page in sorted_about %}
                
                <li {% if collection_page.location == page.url or page.url contains collection_page.location %} class="selected"{% endif %}>
                    <a class="btn" href="{{ site.baseurl }}/about/{{ collection_page.page_name }}"><i class="{{ collection_page.fa_icon }}"></i> {{ collection_page.title }}</a>
                </li>

                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</aside>