---
layout: main
title: Team
page_name: staff
collection: about
location: /about/staff/
fa_icon: "fas fa-users"
sidebar: 1
order: 3
---
<section class="staff">
	<header class="staff-header">
		<h3>Our team</h3>
	</header>

	<main class="staff-main">
		<ul class="staff-list">
			{% assign staff = site.staff | sort: "order" %}
			{% for staff_member in staff %}
			<a class="member-link" href="{{ site.baseurl }}/about/staff/{{ staff_member.name }}">
				<li class="staff-member">
					<div class="media">
						<img src="{{ site.baseurl }}/images/{{ staff_member.image }}" alt="">
					</div>
					<div class="info">
						<div class="info-wrapper">
							<p class="name">Name: <span class="bold">{{ staff_member.name }}</span></p>
							<p class="age">Age: <span class="bold">{{ staff_member.age }}</span></p>
							<p class="job">Work as: <span class="bold">{{ staff_member.job }}</span></p>
							{% if staff_member.position %}
							<p class="pos">He is: <span class="bold">{{ staff_member.position }}</span></p>
							{% endif %}
						</div>
						<p class="click">Click to learn more...</p>
					</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</main>

</section>
