<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>{{site.title}} | {{ page.title }}</title> -->
    <title></title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>

    <div class="site">
        <header class="site-header">
            <h1>
                Header
            </h1>

            <nav class="site-nav">
    
            </nav>

        </header>
        
        <main class="site-main">
            <h2>Main</h2>
            {{ content }}
        </main>

        <aside class="site-sidebar">
            <h3>Sidebar</h3>
            {% capture call_source %}{{ page.url }}{% endcapture %}
            {% include sidebar.html location = call_source %}
        </aside>
        
        <footer class="site-footer">
            <p>Footer</p>
        </footer>
    </div>

</body>
</html>