<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    
    <title>{{site.title}} | {{ page.title }}</title>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body class="{% if page.title %}page page-{{ page.title | slugify }}{% endif %}
    {% if post.title %}post{% endif %}
    {% if page.home %}home{% endif %}">
    
    {% if page.sidebar %}
        <div class="site sidebar">
    {% else %}
        <div class="site no-sidebar">    
    {% endif %}
        
            <header class="site-header">
                <div class="header-outer">
                    <div class="header-inner">
                        <div class="site-logo">
                            <a href="{{ site.baseurl }}">
                                <div>
                                    <img src="{{ site.baseurl }}/images/RazorLogo.png" alt="">
                                </div>
                                <p class="site-title">
                                    Barber shop
                                </p>
                            </a>
                        </div>

                        {% include navigation.html location="header" %}
                    </div>
                </div>
            </header>
        
            <div class="wrapper">
                {% if page.sidebar %}
                    {% assign call_url = page.url | split: "/" %}
                    {% capture call_source %}{{ call_url[1] }}{% endcapture %}
                    {% include sidebar.html location=call_source %}
                {% endif %}

                <main class="site-main">
                    {{ content }}
                </main>
            </div>

            <footer class="site-footer">
                {% include navigation.html location="footer" %}
            </footer>
                
        
    </div>

</body>
</html>