.blog-content {
    .posts-section {
    }
    
    .posts-list {
        list-style: none outside;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto, 200px);
        grid-gap: 2em;
        grid-auto-flow: row dense;
    }
    
    .post-item {
        display: flex;
        flex-direction: column;
        
        .read-more {
            width: 7em;
            margin-top: auto;
            text-align: center;
            margin-left: auto;
        }

        .post-title {
            font-size: 1.5em;
        }

        .post-meta {
            font-size: 1.1em;
            padding-left: 0;
        }
    }

    .post-high {
        grid-column: span 2;
    }
    
    @media (max-width: 450px) {
        .post-high {
            grid-column: span 1;
            grid-row: span 1;

        }
    }

    .post-portrait {
        grid-row: span 2;
    }
    
    // .port-normal {
    //     grid-column: span 1;
    //     grid-row: span 1;    
    // }

    .post-media {
        position: relative;
        overflow: hidden;
        background: #000;
        border-radius: var(--border-radius-main);
    }
    
    .post-media.landscape::after {
        display: block;
        content: '';
        padding-top: 66.67%;
    }
    
    .post-media.landscape img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(-50%);
    }

    .post-media.portrait::after {
        display: block;
        content: '';
        padding-top: 150%;
    }
    
    .post-media.portrait img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(-50%);
    }

}

.post-section {

    @at-root .image {
        width: 50%;
        display: inline-block;
        position: relative;
        overflow: hidden;

        &.floatleft {
            float: left;
            margin-right: 2em;

            &::after {
                display: block;
                content: '';
                height: 0;
                clear: both;
            }
        }
        
        &.floatright {
            float: right;
            margin-left: 2em;
            
            &::after {
                display: block;
                height: 0;
                content: '';
                clear: both;
            }
        }
    }

    .post-title {
        font-family: 'PT serif', serif;
    }
    
    .post-meta {
            // font-size: 1.1em;
            padding-left: 0;
        }
    .post-body {
        clear: both;
    }
    
    @at-root .image.landscape::after {
        display: block;
        content: '';
        padding-top: 66.67%;
    }
    
    @at-root .image.landscape img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(-50%);
    }

    @at-root .image.portrait::after {
        display: block;
        content: '';
        padding-top: 150%;
    }

    @at-root .image.portrait img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(-50%);
    }
}