.page {
    .back-top {
        display: none;
        border: none;
        cursor: pointer;
        padding: 0.5em 1em;
        color: var(--color-body-bg);
        border-radius: var(--border-radius-main);
        background: #000;
        position: fixed;
        right: 10px;
        bottom: 10px;
        opacity: 0.5;
        transition: opacity 0.2s linear;

        &:hover {
            opacity: 1;
        }

        &:focus {
            outline: none
        }

        i {
            display: block;
            padding-bottom: 0.2em;
            text-align: center;
        }

        p {
            text-align: center;
            padding-bottom: 0;
            line-height: 1;
        }

        &.show {
            animation: fadeInBackBtn 0.3s linear;
        }

        &.hide {
            animation: fadeOutBackBtn 0.3s linear;
        }
    }

    a.btn {
        padding: 0.5em 1em;
        color: var(--color-nav-text);
        background: var(--color-nav-bg);
        border: 2px solid var(--color-nav-bg);
        border-radius: var(--border-radius-main);

        transition: opacity 0.25s, background 0.25s;

        &:hover {
            background: var(--color-link-hover);
        }

        &:hover {
            background: var(--color-nav-text);
            color: var(--color-nav-bg);
            border: 2px solid var(--color-nav-bg);
        }

        &.read-more,
        &.back-to-list,
        &.no-border {
            color: var(--color-nav-bg);
            background: var(--color-nav-text);

            &:hover {
                background: var(--color-nav-bg);
                color: var(--color-nav-text);
                border: 2px solid var(--color-nav-text);
            }
        }

        &.no-border {
            border: none;
        }

        &.back-to-list {
            display: block;
            width: fit-content;
            margin-left: auto;
        }

        &.book {
            font-size: 1.3em;
            font-weight: bold;
            color: var(--color-nav-bg);
            background: var(--color-link-main);
            border: none;

            opacity: 0.75;

            &:hover {
                opacity: 1;
            }
        }
    }

    li.selected>a.btn {
        background: var(--color-nav-text);
        color: var(--color-nav-bg);
        border: 2px solid var(--color-nav-bg);
    }

    .back-to-blog {}

    .form-button,
    .form-button:hover,
    .form-button:focus {
        margin-left: auto;
        border: none;
        outline: none;
        padding: 1em;
        background-color: var(--color-link-main);
        color: white;
        font-size: 1.2em;
        font-weight: bold;
    }

    .form-button:hover {
        background-color: var(--color-link-hover);
        animation: fadeIn 0.2s ease-in;
    }
}