.page {
    .back-top {
        display: none;
        border: none;
        cursor: pointer;
        padding: 0.5em 1em;
        color: var(--color-body-bg);
        border-radius: var(--border-radius-main);
        background: #000;
        position: fixed;
        right: 10px;
        bottom: 10px;
        opacity: 0.5;
        transition: opacity 0.2s linear;

        // &#back-top2{
        //     position: fixed;
        //     right: 100px;
        //     bottom: 10px;
        // }

        &:hover{
            opacity: 1;
        }

        &:focus {
            outline: none
        }

        i {
            display: block;
            padding-bottom: 0.2em;
            text-align: center;
        }

        p {
            text-align: center;
            padding-bottom: 0;
            line-height: 1;
        }

        &.show{
            animation: fadeInBackBtn 0.3s linear;
        }
        
        &.hide{
            animation: fadeOutBackBtn 0.3s linear;
        }
    }

    .read-more {
        background: red;
    }
}