.comments {
    padding: 0.5em;

    &-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: auto;
        grid-auto-flow: dense;
        grid-gap: 1em;
        list-style: none outside;
        padding: 0 0 1em 0;
    }
    
}

.comment {
    
    &-item {
        background: #ddd;
        border-radius: var(--border-radius-main);
        border: 2px solid var(--color-border-main);
        padding: 0 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-item {
        &.long-comment{
            grid-column-start: span 1;
            grid-row-start: span 2;
        }

        &.vlong-comment{
            grid-column-start: span 2;
            grid-row-start: span 2;
        }
    }

    &-text {
        padding-bottom: 0.3em;
    }

    &-author {
        font-family: 'PT serif', serif;
        font-style: italic;
        text-align: right;
        font-weight: bold;
        padding-bottom: 0.3em;
    }
}