.page {
    &-contacts {
        .contacts-content {
            margin-bottom: 2em;
            ul {
                font-size: 1.2em;
                list-style: none outside;

                li {
                    padding-bottom: 0.2em;
                }
            }

            .wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: center;

                @include bp(tablets){
                    flex-direction: column;
                }
            }
            
            .work-time {
                flex: 0 0 40%;
                margin-bottom: 3em;
                @include bp(tablets){
                    width: 60%;
                    margin-bottom: 0em;
                }

                @include bp(phonel){
                    width: 80%;
                }

                ul {
                    padding: 0 2em;
                }

                @include bp(tablets){
                    ul {
                        padding: 0;
                        text-align: center;
                    }
                }

                li {
                    display: flex;
                    justify-content: space-between;
                }

                span {
                    display: inline-block;
                }

                .week-day {
                    text-align: left;
                }

                .work-hours {
                    text-align: center;
                    font-weight: bold;
                    color: #900;
                }
            }

            .media-icons {
                flex: 0 0 35%;
                @include bp(tablets){
                    width: 60%;
                    margin-top: 2em;
                }

                @include bp(phonel){
                    width: 80%;
                }
                ul {
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 1em;
                }

                li {
                    display: block;
                    padding-bottom: 0;
                    text-align: center;
                    border-radius: 0.5em;
                }
                
                a {
                    color: var(--color-link-main);
                    display: block;
                    padding: 0.7em 0;
                }

                a:hover {
                    color: var(--color-link-hover);
                    border-radius: 0.5em;
                }

                i {
                    display: block;
                    font-size: 2em;
                }
            }

            .address {
                flex: 0 0 21%;
                margin-left: 2em;
                @include bp(tablets){
                    width: 60%;
                    margin-left: 0em;
                    margin-bottom: 3em;
                    margin-top: 2em;

                    .address-list li {
                        text-align: center;
                    }
                }

                @include bp(phonel){
                    width: 80%;
                }

                &-list {
                    padding: 0;
                }
            }

            .section-map{
                flex: 0 0 40%;
            }
            
            .section-form{
                flex: 0 0 56%;
            }
        }
    }
}