.page {
    &-home{
        .home-wrapper {

            section {
                max-width: var(--main-content-width);
                margin: auto;
                padding: 1em;
                text-align: center;
                // border: 2px solid darkblue;
            }

            .sec-end {
                padding: 1em 0 3em 0;
            }

            .sec-header {
                padding: 3em 0 2em 0;
                @include bp (tablets) {
                    padding-bottom: 0em;
                }
            }
            
            .sec-header::after {
                display: block;
                content: '';
                margin: auto;
                width: 5%;
                height: 0.2em;
                background: #000;
                margin-top: 2em;
                margin-bottom: 2em;
                @include bp (tablets) {
                    margin-bottom: 1em;
                }
            }

            .sec-main {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include bp (tablets) {
                    justify-content: center;
                }
                // align-items: center;
                // display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                // grid-gap: 1em;
            }
            
            .sec-item {

                width: 32%;

                @include bp (tablets) {
                    min-width: 90%;
                }

                h5{
                    padding-bottom: 1em;
                    @include bp (tablets) {
                        padding-top: 2em;
                    }
                }

                p {
                    padding: 1em;
                }

                .media {
                    position: relative;
                    overflow: hidden;
                    background: #000;
                    border-radius: var(--border-radius-main);
                }

                .media:after {
                    display: block;
                    content: '';
                    padding-top: 66.67%;
                }

                .media img {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: auto;
                    transform: translateY(-50%);
                }
            }

            .contacts {
                .sec-item {
                    @include bp (tablets) {
                        min-width: 32%;
                    }
                    @include bp (phonel) {
                        min-width: 80%;
                    }

                }
                .list {
                    list-style: none outside;
                    padding: 0;
                    margin-bottom: 1em;

                    li {
                        padding-bottom: 1em;
                    }

                    p{
                        padding: 0;
                    }
                }

                .wt-list {
                    .day {

                    }
                    font-size: 1.1em;
                    .hour {
                        font-size: 1.3em;
                        font-weight: bold;
                        color: var(--color-link-hover);
                    }
                }

                .ad-list, .cont-list {
                    li {
                        padding: 0.2em;
                    }
                }

                .feed-list{
                    margin-bottom: 1.5em;

                    li {
                        margin-bottom: 1em;
                    }
                }
                
                .sec-item:last-child {
                    h6 {
                        margin-bottom: 1em;
                    }
                }
            }

            .break1, .break2{
                margin-top: 3em;
                display: flex;
                position: relative;

                .break-slogan {
                    width: 90%;
                    text-align: center;
                    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    padding: 0;
                }

                .pic1, .pic2 {
                    width: 50vw;
                    height: 30vh;
                }
            }
            
            .break1 {
                .pic1{
                    background: var(--color-gradient), url('../images/shop_11.jpg') no-repeat top;
                    background-size: cover;
                }
                
                .pic2{
                    background: var(--color-gradient), url('../images/shop_12.jpg') no-repeat bottom;
                    background-size: cover;
                }
            }
            
            .break2 {
                .pic1{
                    background: var(--color-gradient), url('../images/shop_15.jpg') no-repeat center;
                    background-size: cover;
                }
                
                .pic2{
                    background: var(--color-gradient), url('../images/shop_16.jpg') no-repeat top;
                    background-size: cover;
                }
            }
        }
    }
}