.nav-header {
    margin-left: auto;
    padding: 1em;

    @media (max-width: 880px) {
        margin: auto;
    }

    ul {
        display: flex;
        padding: 0;
        list-style: none outside;

        li {
            font-weight: bold;

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            @media (max-width: 430px){
                a.btn {
                    padding: 0.3em;
                }

                i {
                    display: none;
                }
            }
        }
        
        li:not(:first-child){
            margin-left: 0.5em; 
        }
    }
}

.site-sidebar {
    @include bp(tabletl){
        h3 {
            text-align: center;
            margin: 0;
        }
    }
    .nav{
        ul {
            list-style: none outside;
            padding: 0;

            @include bp (tabletl){
                display: flex;
                justify-content: center;
                padding-bottom: 2em;
                a.btn {
                    padding: 0.5em;
                }

                i {
                    display: none;
                }
            }
        }

        li {
            padding-bottom: 0em;
            display: block;
        }
        
        .btn {
            display: block;
            min-width: 65%;
        }
    }
}