.nav-header {

    ul {
        list-style: none outside;
        padding: 0;

        li {
            font-weight: bold;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        li a {
            padding: 0.5em 1em;
            color: var(--color-nav-text);
            background: var(--color-nav-bg);
            border-radius: var(--border-radius-main);
        }
        
        li:not(:first-child){
            margin-left: 0.5em; 
            // padding-left: 1.4em;
        }
    }
}