.page-services {

    .services-header, .sec-header {
        text-align: center;
    }

    .services-header {
        padding-top: 1em;
    }
    
    .sec-header {
        margin: 1em;
        padding: 1em 0em;
    }

    .sec-header::after {
        display: block;
        content: '';
        margin: auto;
        width: 5%;
        height: 0.2em;
        background: #000;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .sec-main {
        display: flex;
        @include bp (tablets){
            display: block;
        }
        flex-wrap: wrap;
        justify-content: space-between;

        .btn.book{
            display: none;
            
            @include bp (tablets) {
                display: block;
                margin: auto;
                width: max-content;
                margin-top: 1em;
                margin-bottom: 2em;
            }
        }
    }

    .waiting {

        .sec-header::after {
            margin-bottom: 0em;
        }

        h6 {
            margin: auto;
            text-align: center;
            padding-bottom: 1em;
        }

        .sec-main{
            display: block;

            .wrapper {
                display: flex;
                @include bp(tablets){
                    display: block;
                }

                flex-wrap: wrap;
                justify-content: space-between;

                .sec-item {
                    flex-direction: column;
                }
            }
        }
    }       

    .sec-item {
        margin-bottom: 2em;
        width: 32%;
        display: flex;

        .sec-link {
            display: flex;
            flex-direction: column;
        }

        @include bp (tablets){
            display: block;
            width: 80vw;
            margin: auto;
            margin-top: 1em;
        }

        overflow: hidden;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
        border: 2px solid var(--color-border-outer);

        .item-media {
            position: relative;
            overflow: hidden;
            background: #000;
            border-bottom: 2px solid var(--color-border-inner);
        }

        .item-media:after {
            display: block;
            content: '';
            padding-top: 66.67%;
        }

        .item-media img {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: auto;
            transform: translateY(-50%);
        }

        position: relative;

        .click-to-book {
            display: none;
            position: absolute;
            font-size: 2em;
            font-weight: bold;
            color: var(--color-link-hover);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
        }
        
        .sec-link:hover{
            .click-to-book {
                animation: fadeIn 0.2s;
                background: rgba(255, 255, 255, 0.7);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include bp (tablets) {
                .click-to-book {
                    display: none;
                }
            }
        }
    }
    
    .item-meta .title,
    .item-meta .desc,
    .item-footer {
        padding: 0.5em 1em;
    }
    
    .item-meta .title {
        font-size: 1.2em;
        font-weight: bold;
        // padding-top: 1.2em;
        background: var(--color-border-inner);
        border-bottom: 2px solid var(--color-border-outer);
    }
    
    .item-footer {
        border-top: 2px solid var(--color-border-outer);
        margin-top: auto;
        font-size: 1.2em;
        background: var(--color-border-inner);

        p {
            text-align: right;
            padding-bottom: 0;
        }

        .price {
            margin-left: 0.5em;
            display: inline;
            color: var(--color-link-hover);
            font-family: 'PT Serif', serif;
            font-weight: bold;
        }
    }
}