.site {

    &-header {
    }

    .header-outer {
        padding: 1em 0em 0.8em 0em;
        background: var(--color-header-bg);
    }

    .header-inner {
        max-width: var(--main-content-width);
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: 880px) {
            justify-content: center;
        }
    }

    .site-logo a { 
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-header{
        // margin-left: auto;
        // padding: 1em;

        // @media (max-width: 880px) {
        //     margin: auto;
        // }

        ul {
            // display: flex;
        }

        li {
            // @media (max-width: 430px){
            //     a {
            //         padding: 0.5em;
            //     }

            //     i {
            //         display: none;
                    
            //     }
            // }
        }
    }
    
    @at-root .page-home &-header {
        background: var(--color-gradient), url('../images/shop_01.jpg') no-repeat center;
        background-size: cover;
        // height: 70vh;
    }
    
    @at-root .header-slogan {
        display: none;
    }

    @at-root .page-home .header-slogan {
        display: block;
    }

    .slogan {
        color: var(--color-header-text);
        text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.9);
        text-align: center;
    }

    .header-slogan {
        max-width: var(--main-content-width);
        margin: auto;

        h1 {
            padding: 2.5em 0 1.5em 0;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

        h3 {
            padding-bottom: 3.5em;
            margin: 0;
        }
    }

    &-title {
        padding-bottom: 0.5em;
        font-family: 'PT Serif', serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1;
        color: var(--color-header-text);
    }
}