.slogan {
    color: var(--color-header-text);
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.9);
    text-align: center;
    
    &.header-slogan h1,
    &.break-slogan h3 {
        font-family: 'PT Sans', sans;
    }
}