:root {
    --font-size-body-normal: 12px;
    --font-size-body-large: 14px;
    --font-size-body-Large: 16px;
    --font-size-body-LARGE: 18px;

    --main-content-width: 70em;

    --color-body-text: #000;
    --color-body-bg: #fff;


}