:root {
    --font-size-body-normal: 12px;
    --font-size-body-large: 14px;
    --font-size-body-Large: 16px;
    --font-size-body-LARGE: 18px;

    --main-content-width: 70em;
    --border-radius-main: 0.3em;

    --color-body-text: rgb(0, 0, 0);
    --color-body-bg: rgb(255, 255, 255);
    --color-link-main: rgb(51, 102, 153);
    --color-link-hover: rgb(153, 0, 0);
    --color-border-main: rgb(10, 50, 90);

}